{% extends "pyvideohub:templates/base.jinja2" %}
{% block about_link %}<li class="active"><a href="{{ request.route_path('about') }}"><span class="glyphicon glyphicon-info-sign"></span> 關於</a></li>{% endblock about_link %}
