{% extends "pyvideohub:templates/base.jinja2" %}
{% block contact_us_link %}<li class="active"><a href="{{ request.route_path('contact_us') }}"><span class="glyphicon glyphicon-envelope"></span> 連絡我們</a></li>{% endblock contact_us_link %}
