{% extends "pyvideohub:templates/base.jinja2" %}

{% block home_link %}
    <li class="active"><a href="{{ request.route_path('home') }}"><span class="glyphicon glyphicon-home"></span> 首頁</a></li>
{% endblock home_link %}

{% block content %}
    {% for each_flash in request.session.pop_flash() %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ each_flash }}</strong>
        </div>
    {% endfor %}
    {% for video in videos %}
    <div class="col-md-4">
        <div class="thumbnail">
            <video width="480" height="320" controls="controls">
                <source src="{{ request.static_url('pyvideohub:video/') }}{{ video.location }}" type="video/mp4" />
            </video>
            <img src="{{ request.static_url('pyvideohub:static/waiting.png') }}" alt="等待轉檔中" />
            <div class="caption">
                <h3>{{ video.title }}</h3>
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content%}
