{% extends "pyvideohub:templates/base.jinja2" %}
{% block upload_link %}<li class="active"><a href="{{ request.route_path('upload') }}"><span class="glyphicon glyphicon-plus"></span> 上傳</a></li>{% endblock upload_link %}
